button {
    border: none;
    border-radius: 35px;
    font-family: $primaryFont;
    font-weight: 700;
    color: white;
    padding: 24px;
    cursor: pointer;
    transition: .2s;
    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
    
}