form {
    border: 2px solid $grey;
    font-family: $primaryFont;
    .flexContainer {
        display: flex;
        margin: 7px 0;
    }
    .bottom {
        justify-content: space-between;
        align-items: flex-end;
        .bottomRight {
            display: flex;
        }
    }
    .confessionInput {
        flex: 1 1 100%;
        border: none;
        padding: 15px;
        resize: none;
    }
    .userIcon {
        flex: 0 0 65px;
        padding: 5px;
    }
    .killCount {
        font-size: 2.5rem;
    }
}

.formSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}