section.formSection {
    height: 100vh;
    padding-top: 40px;

    .formContainer,
    .wrapper {
        height: 100%;
    }

    .formContainer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        @media (max-width: 870px) {
            justify-content: center;
        } 

        h4 {
            flex: 1 1 100%;
            text-align: center;
            font-family: $secondaryFont;
            color: darken($grey, 5%);            
            margin-bottom: 40px;
            font-size: 5rem;
            @media (max-width: 870px) {
                font-size: 4.2rem;
                margin: 30px 0;
            }
            @media (max-width: 400px) {
                font-size: 3.4rem;
            }  
        }
        
        .gifPreviewContainer {
            flex: 0 1 32%;
            background: white;
            border-radius: 25px;
            box-shadow: 1px 2px 10px #cfcfcf33;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: -20;
            @media (max-width: 870px) {
                order: -1;
                flex: 0 1 280px;
                height: 200px;
            } 

            p.gifPreviewTitle {
                font-style: italic;
                position: absolute;
                z-index: -10;
            }

            .selectedGifContainer {
                width: 96%;
                margin: 8% auto;
                @media (max-width: 870px) {
                    height: 200px;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                    max-height: 460px;
                    @media (max-width: 870px) {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        form {
            flex: 0 1 65%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            @media (max-width: 870px) {
                flex: 0 1 370px;
            } 

            .messageInput {
                flex: 1 1 100%;
                border-radius: 35px;
                box-shadow: 1px 2px 10px #cfcfcf33;
                border: 1px solid lighten($grey, 50%);
                padding: 25px;
                padding-left: 30px;
                @media (max-width: 870px) {
                    padding: 20px;
                    padding-left: 25px;
                    font-size: 1.8rem;
                } 
            }

            button.gifModal,
            button.killCount {
                flex: 0 1 49%;
                background: $blue;
                margin: 20px 0;
                &:hover {
                    background: darken($blue, 10%);
                }
                @media (max-width: 870px) {
                    padding: 20px;
                    font-size: 1.8rem;
                    margin: 10px 0;
                } 
            }
            
            button.submit {
                flex: 1 1 100%;
                background: $green;
                margin: 0;
                &:hover {
                    background: darken($green, 10%);
                }
                @media (max-width: 870px) {
                    padding: 20px;
                    font-size: 1.8rem;
                }
            }
        }
    }
}