html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: $primaryFont;
}

ul {
    list-style: none;
    padding-left: 0;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}


img {
    display: block;
    width: 100%;
}

.lineBreak {
    display: block;
}