Header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 6rem;
        line-height: 8.5rem;
        word-spacing: -6px;
    }
    h3 {
        font-size: 2.5rem;
        font-weight: 400;
    }
    .intro {
        flex: 1 1 55%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .chevron {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            width: 50px;
            margin-bottom: 30px;
        }
        
    }
}


Nav {
    // border: 1px solid grey;
    display: flex;
    position: fixed;
    // justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    h1 {
        font-size: 2rem;
        font-weight: 500;
        color: $black;
        line-height: 1.8rem;
    }
    .skull {
        margin: 0 20px 0 20px;
        flex: 0 0 40px;
    }
}