header {
    padding-top: 80px; // accounting for the fixed nav space
    height: 100vh;
    @media (max-width: 775px) {
        padding-top: 60px;
    }

    .wrapper,
    .headerFlexContainer {
        height: 100%;
    }

    .headerFlexContainer {
        display: flex;
        align-items: center;
        @media (max-width: 775px) {
            flex-wrap: wrap;
            align-content: center;
        }
        
        .titleContainer {
            flex: 1 1 50%;
            @media (max-width: 1170px) {
                flex: 1 1 60%;
            }
            @media (max-width: 775px) {
                flex: 1 1 100%;
            }
            h2 {
                font-size: 5.8rem;
                line-height: 6.3rem;
                letter-spacing: .2rem;
                word-spacing: .4rem;
                font-weight:900;
                color: $grey;
                @media (max-width: 1170px) {
                    font-size: 5rem;
                    line-height: 5.5rem;
                }
                @media (max-width: 940px) {
                    font-size: 4rem;
                    line-height: 4.8rem;
                    word-spacing: .2rem;
                }
                @media (max-width: 775px) {
                    text-align: center;
                    word-spacing: .1rem;
                    letter-spacing: .1rem;
                    line-height: 4.4rem;
                }
                @media (max-width: 400px) {
                    font-size: 4rem;
                }   
            }

            h3 {
                font-size: 2.8rem;
                padding: 33px 0 42px;
                font-weight: 400;
                color: $grey;
                font-style: italic;
                @media (max-width: 940px) {
                    font-size: 2.2rem;
                    padding: 25px 0 30px;
                }
                @media (max-width: 775px) {
                    font-size: 2rem;
                    text-align: center;
                }
                @media (max-width: 400px) {
                    padding: 17px 0 22px;
                }    
            }

            button.mainButton {
                background: $green;
                padding: 24px 50px;
                &:hover {
                    background: darken($green, 10%);
                }
                @media (max-width: 1170px) {
                    padding: 20px 40px;
                }
                @media (max-width: 940px) {
                    padding: 18px 30px;
                    font-size: 1.9rem;
                }
                @media (max-width: 775px) {
                    display: block;
                    margin: 0 auto;
                }  
            }
        }

        .cactusImageContainer {
            flex: 1 1 50%;
            @media (max-width: 775px) {
                order: -1;
                flex: 1 1 100%;
                img {
                    width: 250px;
                    margin: 0 auto;
                }
            }
            @media (max-width: 400px) {
                img {
                    width: 200px;
                    padding-bottom: 5px;
                }
            } 
        }
    }
}


.jello-horizontal {
	-webkit-animation: jello-horizontal 1.3s both;
            animation: jello-horizontal 1.3s both;
            animation-delay: 2s;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-10-17 14:39:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}



.scale-in-center {
	-webkit-animation: scale-in-center .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-17 14:42:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



// .flicker-in-1 {
// 	-webkit-animation: flicker-in-1 2.2s linear both;
//             animation: flicker-in-1 2.2s linear both;
//             animation-delay: .4s;
// }

// /* ----------------------------------------------
//  * Generated by Animista on 2019-10-17 14:57:10
//  * Licensed under FreeBSD License.
//  * See http://animista.net/license for more info. 
//  * w: http://animista.net, t: @cssanimista
//  * ---------------------------------------------- */

// /**
//  * ----------------------------------------
//  * @animation flicker-in-1
//  * ----------------------------------------
//  */
// @-webkit-keyframes flicker-in-1 {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0;
//   }
//   10.1% {
//     opacity: 1;
//   }
//   10.2% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0;
//   }
//   20.1% {
//     opacity: 1;
//   }
//   20.6% {
//     opacity: 0;
//   }
//   30% {
//     opacity: 0;
//   }
//   30.1% {
//     opacity: 1;
//   }
//   30.5% {
//     opacity: 1;
//   }
//   30.6% {
//     opacity: 0;
//   }
//   45% {
//     opacity: 0;
//   }
//   45.1% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 1;
//   }
//   55% {
//     opacity: 1;
//   }
//   55.1% {
//     opacity: 0;
//   }
//   57% {
//     opacity: 0;
//   }
//   57.1% {
//     opacity: 1;
//   }
//   60% {
//     opacity: 1;
//   }
//   60.1% {
//     opacity: 0;
//   }
//   65% {
//     opacity: 0;
//   }
//   65.1% {
//     opacity: 1;
//   }
//   75% {
//     opacity: 1;
//   }
//   75.1% {
//     opacity: 0;
//   }
//   77% {
//     opacity: 0;
//   }
//   77.1% {
//     opacity: 1;
//   }
//   85% {
//     opacity: 1;
//   }
//   85.1% {
//     opacity: 0;
//   }
//   86% {
//     opacity: 0;
//   }
//   86.1% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//   }
// }
// @keyframes flicker-in-1 {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0;
//   }
//   10.1% {
//     opacity: 1;
//   }
//   10.2% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0;
//   }
//   20.1% {
//     opacity: 1;
//   }
//   20.6% {
//     opacity: 0;
//   }
//   30% {
//     opacity: 0;
//   }
//   30.1% {
//     opacity: 1;
//   }
//   30.5% {
//     opacity: 1;
//   }
//   30.6% {
//     opacity: 0;
//   }
//   45% {
//     opacity: 0;
//   }
//   45.1% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 1;
//   }
//   55% {
//     opacity: 1;
//   }
//   55.1% {
//     opacity: 0;
//   }
//   57% {
//     opacity: 0;
//   }
//   57.1% {
//     opacity: 1;
//   }
//   60% {
//     opacity: 1;
//   }
//   60.1% {
//     opacity: 0;
//   }
//   65% {
//     opacity: 0;
//   }
//   65.1% {
//     opacity: 1;
//   }
//   75% {
//     opacity: 1;
//   }
//   75.1% {
//     opacity: 0;
//   }
//   77% {
//     opacity: 0;
//   }
//   77.1% {
//     opacity: 1;
//   }
//   85% {
//     opacity: 1;
//   }
//   85.1% {
//     opacity: 0;
//   }
//   86% {
//     opacity: 0;
//   }
//   86.1% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//   }
// }
