.userComment {
    // width: 30%;
    border: 1px solid rgba(114, 114, 114, 0.425);
    // float: left;
    width: 100%;
    margin-bottom: 5px;
    background: #b3b3b317;
    padding: 2.5%;

    
    .userCommentGif {
        width: 100%;
        
        
    }
}

.userCommentContainer {
    column-width: 200px;
    column-gap: 5px;
    padding: 5px
}

.userComments {
    padding-top: 80px;
}

h4 {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 15px 0 5px;
}

.deathCount {
    text-align: right;
    padding: 2.5px 0;
}