html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  background: #f9f8f7;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.lineBreak {
  display: block;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  max-width: 80%;
}

header {
  padding-top: 10vh;
}

.headerFlexContainer {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerFlexContainer .wordContent {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.headerFlexContainer .wordContent h2 {
  font-size: 5.8rem;
  line-height: 6.2rem;
  letter-spacing: .2rem;
  word-spacing: .4rem;
  font-weight: 900;
  color: #54575a;
}

.headerFlexContainer .wordContent h3 {
  font-size: 2.8rem;
  padding: 33px 0 42px;
  font-weight: 400;
  color: #54575a;
  font-style: italic;
}

.headerFlexContainer .wordContent button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2rem;
  background: #91bd7b;
  padding: 24px 50px;
  border-radius: 35px;
}

.headerFlexContainer .plant2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.headerFlexContainer .plant2 img {
  width: 100%;
}

Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  background: white;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 15px #c0c0c054;
          box-shadow: 1px 2px 15px #c0c0c054;
}

Nav h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #36383a;
  padding: 0 0 5px 25px;
  font-family: "Playfair Display", serif;
  position: relative;
  z-index: 1000;
}

Nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 30px 0;
  color: #6d7174;
  font-size: 1.9rem;
}

Nav ol li {
  margin-left: 50px;
  font-weight: 700;
}

.formSection {
  padding-top: 20vh;
  height: 80vh;
}

.formSection .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.formSection .formContainer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #484a4d;
  padding: 60px 0;
  font-size: 5rem;
}

.formSection .formContainer .gifPreviewContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px 10px #cfcfcf33;
          box-shadow: 1px 2px 10px #cfcfcf33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -20;
}

.formSection .formContainer .gifPreviewContainer p {
  font-style: italic;
  position: absolute;
  z-index: -10;
}

.formSection .formContainer .gifPreviewContainer .gifPreview {
  width: 96%;
  margin: 8% auto;
}

.formSection .formContainer .gifPreviewContainer .gifPreview img {
  width: 100%;
  max-height: 460px;
}

.formSection .formContainer form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.formSection .formContainer form input.confessionInput {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-radius: 35px;
  -webkit-box-shadow: 1px 2px 10px #cfcfcf33;
          box-shadow: 1px 2px 10px #cfcfcf33;
  border: 1px solid #d5d7d8;
  padding: 25px;
}

.formSection .formContainer form button {
  border-radius: 35px;
  padding: 24px;
  background: #5ba5a4;
  margin: 20px 0;
  color: white;
}

.formSection .formContainer form button.gifIcon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.formSection .formContainer form button.increment {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.formSection .formContainer form button.submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: #91bd7b;
  margin: 0;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: "Lato", sans-serif;
  padding: 3px 15px;
}

.mainButton {
  background: white;
}

.mainButton:focus {
  border: 3px dashed #cb5ece;
}

.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.gifContainer {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  overflow: scroll;
}

.close {
  margin: 10px;
}

.gifItem {
  width: 100%;
  margin-bottom: 5px;
}

.show img {
  opacity: 0.5;
}

.gifNav {
  padding: 10px;
  position: fixed;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 26.2%;
  left: 25%;
}

.gifNav input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  border-radius: 10px;
  margin: 0 10px;
}

.gifNav button {
  background: #91bd7b;
  color: white;
  border-radius: 10px;
}

.gifResults {
  -webkit-column-width: 200px;
          column-width: 200px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 10px;
  margin-top: 40px;
}

.userComment {
  border: 1px solid rgba(114, 114, 114, 0.425);
  width: 100%;
  margin-bottom: 5px;
  background: white;
  padding: 2.5%;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.userComment .userCommentGif {
  width: 100%;
}

.userCommentContainer {
  -webkit-column-width: 250px;
          column-width: 250px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 5px;
}

.userComments {
  padding-top: 140px;
}

h4 {
  font-weight: 400;
  font-size: 1.6rem;
  padding: 15px 0 5px;
}

.deathCount {
  text-align: right;
  padding: 2.5px 0;
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */